div.cards-toolbar
    input.form-control.pull-left(type="text", id="clientCardSearch", ng-model="search", placeholder="Search client card...")
    button.btn.btn-default.pull-right(type='button') Add user
table.table.table-striped.table-hover.client-cards-table
    
    thead
        tr
          th 
          th Name
          th Email
          th Card expiring
          th Last update
    tbody
        tr(ng-repeat="card in cards | filter: search")
          td 
            img(src="{{card.photo}}")
          td 
            a(href="#/clientCards/{{card._id}}")  
                strong {{card.name}}
          td {{card.email}}
          td 
            .progress.progress-striped
                .progress-bar.progress-bar-success(style='width: {{calculateProgress(card)}}%;')
          td {{card.lastUpdate}}
