body, html {
    height: 100%;
}

ul {
    list-style-type: none;
}

a.dropdown-toggle {
    margin-right: 30px;
}

#main-header {
    padding-left: 13px;
    margin-bottom: -5px;
}

#main-header div div a img {
    margin-right: 15px;
    margin-top: -5px;
}

/*general view panels*/
div.panels-container {
    margin-top: 50px;
    margin-left: 20%;
}

div.panels-container > div {
    width: 23%;
    margin-right: 10%;
    display: inline-block;
}

div.panels-container > div > div.panel-heading {
    text-align: center;
}

/*filter search field*/
div.panels-container > .search-filter {
    display: block;
}

#sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 200px;
    background: #2c3e50;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
}

#sidebar-wrapper .sidebar-nav {
    padding-top: 100px;
}

#sidebar-wrapper ul li button {
    width: 100px;
    height: 65px;
    margin-bottom: 5px;
    text-align: left;
}