body, html {
    height: 100%;
}

a.dropdown-toggle {
    margin-right: 30px;
}

div.main-header {
    padding-left: 13px;
    margin-bottom: -5px;
}

/*admin nav panel*/
div.admin-nav-panel {
    position: absolute;
    width: 10%;
    height: 100%;
    padding-top: 100px;
}

div.admin-nav-panel button.admin-nav-btn {
    width: 100%;
    height: 60px;
    margin-top: 15px;
}

/*general view panels*/
div.panels-container {
    margin-top: 50px;
    margin-left: 360px;
}

div.panels-container > div {
    width: 20%;
    margin-right: 160px;
    display: inline-block;
}

div.panels-container > div > div.panel-heading {
    text-align: center;
}

/*filter search field*/
div.panels-container > .search-filter {
    margin-left: 815px;
    display: block;
}