div.client-card-small(ng-repeat="card in cards | filter: search | todayExpCards")
    img.client-card-photo(src='{{card.photo}}')
    div.client-card-info
        a(href="#/clientCards/{{card._id}}") 
            strong {{card.name}}
        br  
        span {{card.email}}
//        span Creation date: {{card.creationDate}}
//        br
//        span Last update: {{card.lastUpdate}}
//        br
//        span Paid period: {{card.paidPeriod}}