div.client-card-small(ng-repeat="card in cards | filter: search | wantedExpCards")
    img.client-card-photo(src='{{card.photo}}')
    div.client-card-info
        a(href="#/clientCards/{{card._id}}")  
            strong {{card.name}}
        br  
        span {{card.email}}